---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  <script src="https://giscus.app/client.js"
        data-repo="thecodercamp/thecodercamp.github.io"
        data-repo-id="R_kgDOJXcyAg"
        data-category="Blog comments"
        data-category-id="DIC_kwDOJXcyAs4CV8Eu"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

</article>
